<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Posts</title>
</head>
<body>
<h1>[[${post == null ? '글쓰기' : '글수정'}]]</h1>
<div th:with="createUrl=@{/posts/create}, updateUrl=@{/posts/{postId}/update(postId=${post?.id})}">
    <form th:action="${post == null ? createUrl : updateUrl}" method="post">
        <div>
            <div>
                <label for="title">제목</label><div><input id="title" name="title" th:value="${post?.title}" /></div>
            </div>
            <div>
                <label for="content">내용</label><div><textarea id="content" name="content">[[${post?.content}]]</textarea></div>
            </div>
        </div>
        <div>
            <a th:href="@{/posts}">목록으로</a>
            <button type="reset">취소</button>
            <button>저장</button>
        </div>
    </form>
</div>
</body>
</html>